.back1 {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./images/background2-1.jpg) ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}
.navbar{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 15vh;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #68123C;
}
li{
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.5vw;
  text-decoration: none;
}
li a:hover {
  background-color: #34091E;
}
.me {
  font-size: 2vw;
  font-family: "Times New Roman", sans-serif;
  text-align: center;
  position: absolute;
  top: 10vh;
  left: 20%;
  -moz-animation: showHide 5s ease-in 1;
  -webkit-animation: showHide 5s ease-in 1;
  -ms-animation: showHide 5s ease-in 1;
  -o-animation: showHide 5s ease-in 1;
  animation: showHide 5s ease-in 1;
}
@-webkit-keyframes showHide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1:
  }
}
@-moz-keyframes showHide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1:
  }
}
@-ms-keyframes showHide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1:
  }
}
@-o-keyframes showHide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1:
  }
}
@keyframes showHide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1:
  }
}
.quote {
  font-size: 5vw;
  font-family: "Times New Roman", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 15vw;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  -moz-animation: fade-in 3s forwards ease 1;
  -webkit-animation: fade-in 3s forwards ease 1;
  -ms-animation: fade-in 3s forwards ease 1;
  -o-animation: fade-in 3s forwards ease 1;
}
.scroll {
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1:
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1:
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1:
  }
}
@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1:
  }
}
.back2{
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/background2-2.jpg) ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  padding: 17vw;
  color: white;
}
h1{
  position: absolute;
  font-size: 4vw;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  left: 40%;
  top: 15%;
}
p {
  font-size: 2vw;
  text-align: center;
  color: white;
  top: 45%;
  font-weight: 100;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -8vw 0 0 -6vw;
  border: 1.5vw solid #f3f3f3;
  border-radius: 50%;
  border-top: 1.5vw outset #FF0040;
	border-right: 1.5vw outset #FF0080;
	border-bottom: 1.5vw outset #FF0040;
	border-left: 1.5vw outset #FF0080;
  width: 8vw;
  height: 8vw;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom 1s;
  -moz-animation: animatebottom 1s
  -ms-animation: animatebottom 1s
  -o-animation: animatebottom 1s;
  animation-name: animatebottom 1s;
}
@-webkit-keyframes animatebottom {
  from { bottom:-100vw; opacity:0 }
  to { bottom:0vw; opacity:1 }
}
@keyframes animatebottom {
  from{ bottom:-100vw; opacity:0 }
  to{ bottom:0vw; opacity:1 }
}
@-moz-keyframes animatebottom {
  from{ bottom:-100vw; opacity:0 }
  to{ bottom:0vw; opacity:1 }
}
@-ms-keyframes animatebottom {
  from{ bottom:-100vw; opacity:0 }
  to{ bottom:0vw; opacity:1 }
}
@-o-keyframes animatebottom {
  from{ bottom:-100vw; opacity:0 }
  to{ bottom:0vw; opacity:1 }
}
#myDiv {
  display: none;
  text-align: center;
}
